@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the YuGiOh card search application!</h1>
    <br />
    <div class="tooltip">
        Hover over me
        <span class="tooltiptext">Tooltip text</span>
    </div>
    <br />
    <a asp-controller="Home" asp-action="SearchCards" class="btn btn-primary">Search Cards</a>
    
</div>
